body { 
    font-family:'Roboto', sans-serif;
    margin:0;
    padding:0;
    background-color:#69CBF5;
    color: #000000;
}
header {
    background-color:#60b6db;
    color:#000000;
    padding:10px 20px;
}

.header-content {
    display:flex;
    align-items:center;
    gap:15px;
}

.logo {
    height:60px;
    width:auto;
}

header h3 {
    font-weight:900;
    font-size:2.5em;
    font-family:'Courier New', monospace;
    margin:0;
    letter-spacing:0.05em;
}